{% extends 'WebSite/base.html '%}

{% block content %}

<div class="main">
    <div class="category">
        <i>
            <h2> Выберете категорию </h2>
            {% for cat in category %}
            <ul>
                <button type="submit" class="btn btn-primary position" id="link-button"> <a href="{{ cat.get_absolute_url }}"> {{ cat.name }}</a> </button>
                <hr class="line-break">
            </ul>
            {% endfor %}
        </i>
    </div>
    <div class="form">
        <div class="span">
            <b> Добавить запись </b>
        </div>
        <hr>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <b><label> {{ field.label_tag }} </label> <p> {{ field }} </p></b>
            {% endfor %}
            <div class="button">
                <button type="submit" class="btn btn-success">Отправить данные</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}